@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

* {
  @apply font-medium;
  color: var(--zikoro-grey);
}

@layer base {
  :root {
    --zikoro-primary: 277 100% 50% 1;
    --zikoro-secondary: 231 100% 40% 1;
    --zikoro-gradient: linear-gradient(to right, var(--zikoro-primary) 0%, var(--zikoro-secondary) 100%);
    --zikoro-white: 0 0% 100%;
    --zikoro-background: 233 100% 98%;
    --zikoro-border: 0 0% 92%;
    --zikoro-black: 216 9% 21%;
    --zikoro-grey: 0 0% 33% 1;
    --zikoro-red: 355 78% 56%;
    --zikoro-green: 122 39% 49%;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 10px;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--zikoro-black);
}

.quill {
  width: 100%;
  /* border-radius: 8px; */
  margin-bottom: 3rem;
}

.quill .ql-editor {
  height: 100%;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  color: #d4d4d4;
}

.ql-container.ql-snow {
  border: 1px solid #f3f3f3 !important;
  height: 400px;
  border-top: none;
  font-size: 14px;
  border-radius: 0px 0px 8px 8px;
}

.ql-toolbar.ql-snow {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #f3f3f3 !important;
  background: linear-gradient(to right, #001fcc19 0%, #9d00ff19 100%);
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-size: 14px;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.ql-container.ql-snow .ql-editor {
  border: 1px solid #001fcc19 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.radio-input {
  appearance: none;
  /* Remove default radio button styling */
  width: 16px;
  height: 16px;
  border: 2px solid #9ca3af;
  /* Gray border */
  border-radius: 50%;
  /* Make it circular */
  outline: none;
  background-color: #f3f4f6;
  /* Light gray background */
  cursor: pointer;
}

.radio-input:checked {
  border-color: #6d28d9;
  /* Purple border when checked */
  background-color: #6d28d9;
  /* Purple fill when checked */
}

.radio-input:focus {
  outline: 2px solid #6d28d9;
  /* Purple outline on focus */
}